<!doctype html>
<html>
<head> 
    <title>B A R A T I N H O - {{titulo}}</title>
    <div id="home">
        <a href={{url_for("index")}}>Página Inicial</a>
    </div>
</head>
<body>
    <div id="cadanuncio">
        <form action="cadanuncio" method="post">
            <p>Sua pergunta:</p> 
            <input type="text" name="titulo"><br>
            <br>
            <br>
            <input type="submit" value="Enviar pergunta">
            <br>
        </form>   
    </div>  
</body>
<footer>
    <div>
        <p>Copyright © 2022</p>
    </div>
</footer>
</html>